* {
	padding: 0;
	margin: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	overflow: hidden;
}
#sandbox_control {
	width: 100%;
	height: 50%;
}
#sandbox_output {
	width: 100%;
	height: 50%;
}
#sandbox_buttons {
	width: 100%;
	height: 10%;
}
.sandbox_button {
	height: 100%;
}
#sandbox_editor {
	width: 100%;
	height: 90%;
}
